# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# production
build/
dist/

*.log*

# stroybook
/stroybook-static

npm-debug.log*
yarn-debug.log*
yarn-error.log*